/* List nav */

.list-container{
    display: flex;
    flex-direction: column;
    margin:10px;
}

.sortby-div{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom:10px;
}

.list-nav{
    display:flex;
    justify-content: center;
    border-radius: 5px;
}

.nav-pills{
    margin-bottom:20px;
}

.nav-link{
    color:#cc5200 !important;
}

.nav-link.active{
    background-color: #e67300 !important;
    color:white !important;
}

.list-group-item{
    padding-top:10px;
    margin-bottom:5px;
    display:flex;
    flex-direction: row;
    overflow:hidden;
}

.article-main{
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

/* List of articles */
@media  (min-width: 1250px) {
    .list-group{
        min-width:1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .list-group-item{
        width:278px;
        height:180px;
        margin:11px;
        
    }
}
@media  (min-width: 800px) and (max-width:1249px) {
    .list-group{
        width:800px;
        height:160px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start; 
    }
    .list-group-item{
        width:246px;
        margin:10px;
        height:180px;
    }
}


.unread{
    font-weight:bold;
}

.icons{
    display:flex;
    flex-direction: row;
    margin-right:-5px;
    margin-left:10px;
}

.action-icon{
    margin:8px;
}

@media  (max-width: 500px) {
    .icons{
        display:flex;
        flex-direction: column;
    }
}
@media  (min-width: 800px) {
    .icons{
        display:flex;
        flex-direction: column;
    }
}

.article-title{
    min-width:75%;
    text-align: left;
}

.article-date{
    font-size:0.8em;
}


/*Search filter */

.search{
    display:flex;
    flex-direction: column;
    justify-content: right;
}

.searchbox{
    background:white !important;
    max-width:500px;
    text-align:center;
    margin-left:10px;
    margin-right:10px;
}

.select{
    justify-self: center;
}

/* Tags */

.tag-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.tag-group{
   display:flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
   max-width:600px;
}

.tag{
    background: #D8D8D5;
}

.tag-title{
    display:flex;
    justify-self: center;
    justify-content: center;
}

.tag-btn{
    margin:5px 10px;
}

.badge-warning:hover{
    background-color: #ffe066;
    color:black;
}

.inline-tag{
    margin-top:5px;
    margin-right: 10px;
    cursor: pointer;
}
.inline-tag:hover{
    background-color:grey;
    color:white;
}

.article-count{
    margin-top:5px;
    text-align:center;
}